html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive;
}

body {
    scroll-behavior: smooth;
}

#navbar {
    width: 100%;
    background-color: salmon;
    position: fixed;
    border-bottom: 2px solid black;
    z-index: 3;
}

#navbar ul {
    display: flex;
    justify-content: flex-end;
    padding-right: 5rem;
}

#navbar ul li {
    list-style: none;
    padding: 15px 10px;
}

#navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

#navbar ul li:hover {
    background-color: burlywood;
}

.container {
    min-height: 100vh;
}

#welcome-section {
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-section h1 {
    font-size: 4rem;
}

#welcome-section p {
    font-size: 2rem;
}


/* 
    projects
*/

#projects h1 {
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
}

#projects ul {
    display: flex;
    justify-content: space-evenly;
}

#projects li {
    margin: 1rem 1.5rem;
    list-style: none;
}

#projects ul li a {
    text-decoration: none;
    color: black;
}

.project-tile {
    border: 3px solid black;
    border-radius: 5px;
    transition: 0.4s ease;
}

.project-tile:hover {
    transform: scale(1.05);
    box-shadow: 0 0.2rem 13px grey;
    z-index: 1;
}

.project-tile h1 {
    background-color: #3498db;
    border-top: 3px solid black;
    transition: 1s;
}


img {
    width: 300px;
}

@media only screen and (max-width: 700px) {
    #projects ul {
        flex-direction: column;
        align-items: center;
    }

    .project-tile {
        width: 50%;
    }

    img {
        width: 100%;
    }
}